syntax: glob

# system
.DS_store
*.pyc
*.db

# node
node_modules
npm-debug.log

# sass
.sass-cache
*.lock
static/css

# sprite
static/img/common/sprite.png

# webpack
static/js/build/*/*.js
static/js/stats/*.json
