/*
    # Variables

    `core/_variables.scss`
*/


/*
    ## Layout
*/

$container-large: 960px;
$container-medium: 760px;
$container-small: 640px;

/*
    ## Structure
*/

$font-size-default: 12px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

/*
    ## Fonts
*/

$font-default: "name_font";
$font-1: $font-default;
